body {
  margin: 0;
  overflow: hidden;
}

video {
  background-color: black;
  width: 100vw;
  height: 100vh;
}

.hidden {
  display: none;
}

.admin {
  margin: 10px;

  section {
    margin: 40px 0;
  }
}

.puzzel3 {
  background-color: black;
  color: green;
  width: 100vw;
  height: 100vh;
  font-family: monospace;
  font-size: 20px;

  .uitleg {
    padding: 20px
    width: 50%;
  }

  input[type=text] {
    width: 80vw;
    background-color: black;
    border: none;
    color: green;
    cursor: text;
    margin-left: 10px;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
  }

  .prompt::before {
    margin-left: 20px;
    content: "$";
    color: green;
  }

}
